* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
}

body {
  margin: 20, 20;
}
h1 {
  font-size: 3rem;
  margin: 20;
}

#music {
  align-self: flex-start;
}
.container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

.row {
  display: flex;
  width: 100%;
}
.column {
  flex: 50%;
  justify-content: flex-start;
  text-align: center;
  align-content: flex-start;
}
